.header{
    grid-area: header;
    background-color: #5f6f52;
    margin: 0px;
    display:flex ;
}
#logo{
    
    width: 75px;
    height: 100px;
}

#buscar{
    margin-left: 500px;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    font-size: 16px;
    width: 1000px;
    height: 50px;
    border-radius: 5px;
    border: none;
    outline:none;
}

#lupa{
    margin-right: 500px;
    margin-top: auto;
    margin-bottom: auto; 
    gap: 10px;
    width: 35px;
    height: 35px;

    filter: opacity(0.3);
}
.header_button{
    display: flex;
    justify-content:right;
    gap: 10px;
    width: 60PX;
    height: 60px;
    margin-left: 20PX;

}
.header_button:hover{
    transform: scale(1.2);
}

