.header{
        grid-area: header;
        background-color: #F3E9DC;
        justify-content: space-between;
        align-items: center;
        margin: 0px;
        display:flex ;
}
#logo{
    margin-left: 10px;
    width: 75px;
    height: 100px;
}
    
.header_button{
    display: flex;
    justify-content:space-between;
    gap: 10px;
    width: 100PX;
    height:100px;
    margin-left: PX;
        
}
    
.header_button:button{
     transform: scale(1.2);
}
